<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <Files .env>
        order allow,deny
        Deny from all
    </Files>
     <Files ~ "\.(env|json|config.js|md|xml|gitignore|gitattributes|lock|editorconfig|yml|styleci.yml)$">
         Order allow,deny
         Deny from all
     </Files>
     Options -Indexes
     <Files ~ "(artisan|package.json|webpack.mix.js)$">
         Order allow,deny
         Deny from all
    </Files>

    RewriteCond %{SERVER_PORT} 80
    RewriteRule ^(.*)$ https://cloud.ferozitech.com/edu/$1 [R,L]

    RewriteRule ^public/assets/frontend/images([^/]+)$ assets/images$1 [L]
    RewriteRule ^assets/images([^/]+)$ public/assets/frontend/images$1 [L]

</IfModule>
