@font-face {
  font-family: 'Nunito-Medium';
  src: url('/path-to/Nunito-Medium.woff2') format('woff2'),
       url('/path-to/Nunito-Medium.woff') format('woff'),
       url('/path-to/Nunito-Medium.ttf')  format('truetype');
}

body {
  font-family: 'Nunito-Medium', sans-serif;
}
